/*common.css 公共样式表*/
/*样式重置*/
body{
	font-size: 0;
	/*font-family: 'Microsoft YaHei',SimHei,Arial,SimSun;*/
}
body,ul,li,p{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
/*清除浮动引起的高度塌陷*/
.clearfix::before,  
.clearfix::after{  
        display:table;  
        content:"";  
}  
.clearfix::after{  
    clear:both;  
} 
/*省略号*/
.ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*页面样式*/
body{
	background-color: #f0f0f0;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: .88rem;
	background-color: #0377fa;
	color: #fff;
}
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: .98rem;
	border-top: 1px solid #ddd;
	background-color: #fff;
}
section{
	margin-top: .88rem;
	margin-bottom: .99rem;
	padding-bottom: .2rem;
}
footer{
	display: flex;
	justify-content: space-around;
}
footer div{
	height: .76rem;
	cursor: pointer;
	margin-top: .16rem;
}
footer a{
	display: block;
	padding: .34rem .1rem 0;
	height: 100%;
}
footer p{
	font-size: .22rem;
	color: #666;
	line-height: .42rem;
	text-align: center;
}
footer .home{
	background: url(../img/home.png) no-repeat;
	background-size: .34rem .35rem;
	background-position: center 0;
}
footer .equip{
	background: url(../img/equip.png) no-repeat;
	background-size: .49rem .35rem;
	background-position: center 0;
}
footer .warn{
	background: url(../img/warn.png) no-repeat;
	background-size: .39rem .35rem;
	background-position: center 0;
}
footer .me{
	background: url(../img/me.png) no-repeat;
	background-size: .34rem .35rem;
	background-position: center 0;
}
footer .homeA{
	background: url(../img/homeA.png) no-repeat;
	background-size: .34rem .35rem;
	background-position: center 0;
}
footer .equipA{
	background: url(../img/equipA.png) no-repeat;
	background-size: .49rem .35rem;
	background-position: center 0;
}
footer .warnA{
	background: url(../img/warnA.png) no-repeat;
	background-size: .39rem .35rem;
	background-position: center 0;
}
footer .meA{
	background: url(../img/meA.png) no-repeat;
	background-size: .34rem .35rem;
	background-position: center 0;
}