/* companyInfo.css  企业认证信息 */
section li{
    padding: 0 .2rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
section li:last-child{
    border: none;
}
section li .tit{
    float: left;
    font-size: .28rem;
    line-height: 1rem;
    color: #666;
}
section li p{
    font-size: .24rem;
    text-align: right;
    line-height: 1rem;
    color: #8c8c8c;
}
.logo{
    height: 1.8rem;
    padding: 0 .2rem;
    margin-top: .2rem;
    background-color: #fff;
}
.tPic{
    height: 2.8rem;
    padding: 0 .2rem;
    margin-top: .2rem;
    background-color: #fff;
}
.logo,
.tPic{
    font-size: .5rem;
    line-height: 1.8rem;
    text-align: center;
    color: #666;
}