/*location.css 	设备位置*/
html,
body{
	height: 100%;
}
section{
	height: calc(100% - 0.88rem);
	margin-bottom: 0;
	padding-bottom: 0;
}
#allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:0;
	font-family:"微软雅黑";
}