/* siteTitSet.css   站点标题设置 */
section li{
    padding: 0 .2rem;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    overflow: hidden;
}
section li:last-child{
    border: none;
}
section li .tit{
    float: left;
    font-size: .28rem;
    line-height: 1rem;
    color: #666;
}
section li input{
    float: right;
    width: 4rem;
    height: .6rem;
    line-height: .6rem;
    margin-top: .2rem;
    font-size: .24rem;
    text-align: right;
    color: #8c8c8c;
    border: none;
    outline: none;
}
section li p{
    font-size: .24rem;
    line-height: 1rem;
    text-align: right;
    color: #8c8c8c;
}