body{
	margin: 0;
	padding: 0;
	background-color: #003b7f;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.body{
	width: 7.66rem;
	margin: 0 auto;
	margin-bottom: 0.2rem;
}
/*顶部导航-s*/
.topNav{
	height: 0.4rem;
}
.topNav li{
	float: left;
	font-size: 0.12rem;
	margin-top: 0.14rem;
	vertical-align: top;
	border-left: 1px solid #fff;
}
.topNav li a{
	padding: 0 0.21rem;
	line-height: 0.12rem;
	color: #fff;
}
.topNav .noB{
	border: none;
}
.topNav .col a{
	color: #99b1cc;
}
/*顶部导航-e*/
/*white-s*/
.white{
	width: 7.52rem;
	padding: 0.07rem;
	background-color: #fff;
}
/*white-e*/