body{
	margin: 0;
	padding: 0;
	background-color: #003b7f;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
p{
	margin: 0;
	padding: 0;
}
.body{
	width: 7.66rem;
	margin: 0 auto;
	margin-bottom: 0.2rem;
}
/*顶部导航-s*/
.topNav{
	height: 0.4rem;
}
.topNav li{
	float: left;
	font-size: 0.12rem;
	margin-top: 0.14rem;
	vertical-align: top;
	border-left: 1px solid #fff;
}
.topNav li a{
	padding: 0 0.21rem;
	line-height: 0.12rem;
	color: #fff;
}
.topNav .noB{
	border: none;
}
.topNav .col a{
	color: #99b1cc;
}
/*顶部导航-e*/
/*white-s*/
.white{
	width: 7.52rem;
	padding: 0.07rem;
	background-color: #fff;
}
/*white-e*/
/* 顶部-s */
.top{
    width: 100%;
}
.topLeft{
	float: left;
	margin-top:0.07rem;
	/* width: 2.13rem; */
	overflow: hidden;
}
.topLeft-all{
	height: 0.54rem;
    border-bottom:3px solid #cc2c2c;
    overflow: hidden;
}
.topLeft-btn li{
    float: left;
}
.topLeft-btn .topLeft-btn1 a{
	display: inline-block;
	width: 0.52rem;
	background-color:#4a8cc1;
	text-align: center;
	color:#fff;
	font-size: 0.14rem;
	padding-top:0.18rem;
	padding-bottom:0.06rem;
	margin-right: 0.02rem;
	vertical-align: top;
	margin-bottom:0.03rem;
}
.topLeft-btn .topLeft-btn2 a{
    background-color: #65ab3b;
}
.topLeft-btn .topLeft-btn3 a{
    background-color: #cc2c2c;
}
.topLeft-btn .topLeft-btn4 a{
    background-color: #ffde00;
    padding: 0.03rem 0 0 0 ;
    vertical-align: top;
}
.topRight{
    float: right;
    width: 5.35rem;
    height: 0.52rem;
}
.topRight-time{
	height: 0.16rem;
	text-align: right;
}
.topRight-time p{
	width:1.4rem;
	background-color: #eeeeee;
    display: inline-block;
    line-height: 0.16rem;
    color:#999; 
    font-size: 0.14rem;
    text-align: center;
    vertical-align: top;
    margin-top:0.02rem;
}
.topRight-nav{
	height: 0.16rem;
	margin-top:0.15rem;
	overflow: hidden;
}
.topRight-nav li{
    float: left;
    border-right: 1px solid #999;
    vertical-align: top;
}
.topRight-nav li a{
	display: inline-block;
	text-align: center;
	width: 1.32rem;
	color:#999;
	font-size: 0.14rem;
	line-height: 0.16rem;
	vertical-align: top;
}
.topRight-nav .topRight-nav1{
    border:none;
}
.topRight-nav .topRight-nav1 a span{
	display: inline-block;
	background-color: #e60000;
	border-radius: 0.04rem;
	width: 0.15rem;
	height: 0.18rem;
	line-height: 0.18rem;
	color:#fff; 
	font-size: 0.14rem;
}
/* 顶部-e */
/* banner-s */
.banner{
	margin-top:0.07rem;
	overflow: hidden;
}
.bannerLeft{
	float: left;
	width:2.1rem; 
	font-size: 0;
}
.bannerLeft-top{
	height: 0.05rem;
	background-color: #d83834; 
}
.bannerLeft-login{
	height:1.27rem; 
	border-top: 1px solid #999;
	border-bottom:1px solid #d83834;
	background-color: #f9f9f9;
	text-align: center;
	padding-top: .45rem;
}
.bannerLeft-loginImg{
	margin-top:0.06rem;
	vertical-align: top;
	margin-bottom:0.1rem; 
}
.bannerLeft-ipt{
	width: 2rem;
	vertical-align: top;
	overflow: hidden;
}
.bannerLeft-ipt input{
	float: left;
	display: inline-block;
	width:1.2rem;
	height: 0.18rem;
	border:1px solid #b6b6b6;
	background-color: #fff; 
	vertical-align: top;
	margin-left: 0.18rem;
    margin-bottom: 0.04rem;
}
.bannerLeft-ipt span{
	display: inline-block;
    float: right;
    vertical-align: top;
    font-size: 0;
    margin-right: .04rem;
}
.bannerLeft-ipt span img{
	display: inline-block;
	width: 0.15rem;
	margin-left: 0.06rem;
	vertical-align: top;
}
.bannerLeft-ipt span .b-btn{
	width: 0.5rem;
	vertical-align: bottom;
	margin-left: 0;
}
.c-password{
	text-align: left;
	font-size: 0.12rem;
	overflow: hidden;
	margin-left: .15rem;
}
.bannerLeft-login .c-password input{
	float: left;
    display: inline-block;
    width:0.12rem;
    height: 0.12rem;
    border:1px solid #999;
    border-radius: 0.04rem;
    color:#666;
    vertical-align: middle; 
}
.topRight-navLogin1{
	margin-top:0.18rem;
	margin-left: .1rem;
}
.topRight-navLogin1 ul li a{
    width: auto;
    padding:0 0.1rem;
    font-size: 0.12rem;
}
.bannerRight{
	float: right;
	width: 5.3rem;
	height: 1.79rem;
	margin-bottom: .06rem;
	position: relative;
	overflow: hidden;
}
.bannerRight .swiperBox img{
	width: 100%;
	height: 100%;
}
.bannerRight .simply-scroll-container{
	position: absolute;
	top: 0;
	right: 0;
	width: 1.1rem;
	z-index: 9;
}
.bannerRight .simply-scroll-container .simply-scroll-clip{
	width: 1.1rem;
	height: 1.8rem;
}
.bannerRight ul{
	right: 0;
	top: 0;
	width: 1.1rem;
	font-size: 0;
	background-color: #bf1e2d;
}
#scroller li{
	width: .8rem;
	height: .5rem;
	margin: .14rem .15rem;
}
.bannerRight li img{
	width: 100%;
	height: 100%;
}
/* banner-e */
/* 中间导航-s */
.midNav{
	width: 100%;
	height:0.28rem;
	border-top:1px solid #d73834;
	border-bottom:1px solid #d73834; 
}
.midNav .topRight-nav{
	margin-top:0;
	line-height: 0.28rem;
	background-color: #f5cdcd;
	height: 0.28rem;
}
.midNav .topRight-nav li{
	float: left;
	width: 1.24rem;
	height: 0.14rem;
	line-height: 0.14rem;
	margin-top: 0.07rem;
	vertical-align: middle;
	font-size: 0;
}
.midNav .topRight-nav a{
	display: inline-block;
	line-height: 0.14rem;
	color:#333;
	vertical-align: top;
}
/* 中间导航-e */

/*左边菜单-start*/
.cont{
	width: 100%;
	margin: 0.12rem 0;
	overflow: hidden;
}
.menu{
	float: left;
	width: 1rem;
	vertical-align: top;
}
.menu .h1{
	font-size: 0.12rem;
	color: #cd2c2c;
}
.menu li{
	height: 0.12rem;
	margin-top: 0.2rem;
	cursor: pointer;
}
.menu li span{
	float: left;
	width: 0.12rem;
	height: 0.12rem;
	position: relative;
}
.menu li span img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.menu li p{
	font-size: 0.12rem;
	color: #333;
	line-height: 0.12rem;
}
/*左边菜单-end*/
/*当前小球-start*/
.ball{
	float: right;
	width: 6.36rem;
}
.ball .nowBall,
.ball .lastBall{
	font-size: 0;
	/* width: 100%; */
	border: 1px solid #cd2c2c;
}
.ball .lastBall{
	border-color: #efefef;
	border-bottom: 3px solid #efefef;
}
.ball .nowBall{
	height: 1.84rem;
	border-bottom: 3px solid #cd2c2c;
}
.ball .nowBall .h1,
.ball .lastBall .h1{
	line-height: 0.26rem;
	font-size: 0.14rem;
	padding-left: 0.12rem;
	color: #fff;
	background-color: #cd2c2c;
	font-weight: bold;
}
.ball .lastBall .h1{
	color: #b3141a;
	background-color: #f1f1f1;
}
.ball .nowBall .l{
	display: inline-block;
	width: 4.44rem;
	height: 1.56rem;
}
.ball .nowBall .l table,
.ball .nowBall .r table{
	width: 100%;
	table-layout: fixed;
	text-align: center;
	margin-top: 0.14rem;
}
.ball .nowBall .l table td,
.ball .nowBall .r table td{
	height: 0.2rem;
	font-size: 0.14rem;
	color: #333;
}
.ball .nowBall .l .h2{
	font-size: 0.18rem;
	color: #333;
	text-align: center;
	line-height: 0.38rem;
	position: relative;
}
.ball .nowBall .l .h2 .b2{
	font-size: .24rem;
	vertical-align: middle;
	line-height: .38rem;
	display: inline-block;
	height: .38rem;
}
.ball .nowBall .l .h2 div{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	font-size: .14rem;
	line-height: .38rem;
	text-align: center;
	display: none;
}
.ball .nowBall .l .round{
	height: 0.46rem;
	overflow: hidden;
	font-size: 0;
}
.ball .nowBall .l .round .tit{
	display: inline-block;
	width: 0.74rem;
	margin-left: 0.06rem;
	vertical-align: top;
}
.ball .nowBall .l .round .tit p{
	font-size: 0.12rem;
	line-height: 0.23rem;
	text-align: center;
	color: #333;
}
.ball .nowBall .l .round .roundBox{
	display: inline-block;
	width: 3.6rem;
	vertical-align: top;
	height: 0.46rem;
	overflow: hidden;
}
.ball .nowBall .l .round .roundBox>div{
	font-size: 0;
	float: left;
	width: 0.46rem;
	height: 5.2rem;
	margin: 0 0.04rem;
	position: relative;
	vertical-align: top;
}
.ball .nowBall .l .round .roundBox>.plus{
	width: 0.2rem;
	font-size: 0.24rem;
	color: #333;
	line-height: 0.46rem;
	height: 0.46rem;
}
.ball .nowBall .l .round .roundBox ul{
	position: absolute;
	left: 0;
	top: 0;
}
.ball .nowBall .l .round .roundBox li{
	width: 0.46rem;
	height: 0.52rem;
}
.ball .nowBall .l .round .roundBox li img{
	width: 100%;
	height: 100%;
}
.ball .nowBall .r{
	display: inline-block;
	width: 1.9rem;
	overflow: hidden;
	vertical-align: top;
}
/*当前小球-end*/
/*历史小球-end*/
.ball .lastBall{
	height: 4.8rem; 
	margin-top: 0.1rem;
	position: relative;
}
.ball .lastBall .line{
	margin-left: 0.12rem;
	/*margin-top: 0.1rem;*/
	overflow: hidden;
}
.ball .lastBall .line .tit{
	font-weight: bold;
}
.ball .lastBall .line .tit .one{
	font-size: 0.14rem;
	line-height: 0.36rem;
	padding-left: 0.08rem;
}
.ball .lastBall .line>li{
	display: inline-block;
	border-bottom: 1px solid #f7e1e1;
	height: 0.4rem;
	margin-top: 0.05rem;
}
.ball .lastBall .line>li>span{
	float: left;
	width: 1rem;
	height: 0.36rem;
	font-size: 0.14rem;
	color: #333;
	line-height: 0.36rem;
	vertical-align: top;
}
.ball .lastBall .line>li .fir{
	width: 1.4rem;
}
.ball .lastBall .line .one{
	display: inline-block;
	/*width: 3.4rem;*/
	vertical-align: top;
	height: 0.4rem;
}
.ball .lastBall .line .one li{
	float: left;
	width: 0.38rem;
	height: 0.38rem;
	margin: 0 0.04rem;
	vertical-align: top;
}
.ball .lastBall .line .one li img{
	width: 100%;
	height: 100%;
}
.ball .lastBall .line .one .plus{
	width: 0.1rem;
	font-size: 0.16rem;
	line-height: 0.36rem;
	color: #333;
	text-align: center;
}
/*历史小球-end*/
/*查询历史按钮-start*/
#hist{
	position: absolute;
	bottom: .12rem;
	right: .1rem;
	width: .7rem;
	height: 0.22rem;
	background-color: #d7a101;
	font-size: 0.12rem;
	line-height: 0.22rem;
	color: #fff;
	text-align: center;
	cursor: pointer;
	letter-spacing: .2em;
	border-radius: 0.04rem;
	/*margin: 0.1rem 0 0 0.3rem;*/
}
/*查询历史按钮-end*/
/*历史记录弹窗-start*/
#historyCont{
	display: none;
}
#historyCont .back{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	z-index: 8;
}
#historyCont .c{
	width: 5rem;
	height: 6rem;
	position: fixed;
	background-color: #fff;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 9;
	overflow: hidden;
	font-size: 0;
}
#historyCont .controlBar{
	height: 0.4rem;
	width: 4rem;
	margin: 0.2rem auto 0;
	position: relative;
}
#dd{
	position: absolute;
	left: 0;
	top: .38rem;
	width: 2.2rem;
	height: 4rem;
	display: none;
}
#historyCont .controlBar input{
	width: 2.2rem;
	height: 0.38rem;
	line-height: 0.38rem;
	text-align: center;
	color: #333;
	outline: none;
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 1px solid #ddd;
}
.beatpicker-clear{
	display: none;
}
#historyCont .controlBar .btn{
	float: right;
	width: 1rem;
	height: 0.4rem;
	font-size: 0.14rem;
	color: #fff;
	border-radius: 0.08rem;
	cursor: pointer;
	line-height: 0.4rem;
	letter-spacing: .4em;
	text-align: center;
	background-color: #d7a101;
	vertical-align: top;
}
#historyCont .co{
	width: 4rem;
	height: 4rem;
	border: 1px solid #ddd;
	margin: .2rem auto 0;
}
#historyCont .co .h1{
	height: 0.3rem;
	overflow: hidden;
}
#historyCont .co .h1 span{
	float: left;
	width: 33.3%;
	height: .3rem;
	font-size: 0.14rem;
	font-weight: bold;
	line-height: .3rem;
	color: #333;
	text-align: center;
}
#historyCont .co .table{
	height: 3.7rem;
	overflow: auto;
}
#historyCont .co table{
	width: 100%;
	table-layout: fixed;
}
#historyCont .co table td{
	font-size: .12rem;
	color: #333;
	height: .3rem;
	text-align: center;
}
#historyCont .close{
	width: 1rem;
	height: .4rem;
	font-size: .14rem;
	color: #333;
	line-height: .4rem;
	text-align: center;
	letter-spacing: .2em;
	border-radius: 4px;
	cursor: pointer;
	margin: .2rem auto 0;
	background-color: #ddd;
}
#historyCont .t{
	font-size: .12rem;
	color: #333;
	width: 4rem;
	line-height: .2rem;
	margin: .1rem auto 0;
}
/*历史记录弹窗-end*/
/*调整layer字体-start*/
.layui-layer{
	font-size: .2rem;
}
/*调整layer字体-end*/

/*底部图片-start*/
.bottomPic{
	width: 100%;
	height: 0.5rem;
	margin-top: .16rem;
	font-size: 0;
	margin-bottom: .14rem;
}
.bottomPic li{
	float: left;
	width: 1.2rem;
	height: .5rem;
	margin-left: .06rem;
}
.bottomPic li img{
	width: 100%;
	height: 100%;
}
.bottomPic .first{
	margin-left: 0;
}
/*底部图片-end*/
/*底部文字-start*/
.white2{
	margin-top: .07rem;
	font-size: 0;
	overflow: hidden;
}
.bottomText{
	height: 1rem;
	position: relative;
	margin-top: .2rem;
}
.bottomText a{
	position: absolute;
	right: .43rem;
	top: 0;
	width: .7rem;
	height: .34rem;
}
/*底部文字-end*/
/*底部导航-start*/
.bottomNav{
	height: .12rem;
	margin: .1rem 0;
}
.bottomNav a{
	float: left;
	height: .12rem;
	border-right: 1px solid #999;
	font-size: .12rem;
	line-height: .10rem;
	color: #999;
	letter-spacing: .1em;
}
.bottomNav p{
	float: right;
	height: .12rem;
	line-height: .12rem;
	font-size: .12rem;
	color: #999;
}
/*底部导航-end*/
/*banner*/
.swiper-container{
	width: 5.3rem;
	height: 1.79rem;
}

.mbsc-mobiscroll .dwwr {  
  background-color: transparent;  
}  
.dwsc .dw-sel {  
  background: url(../img/date.png) no-repeat left center;  
  width: 40px;  
  height: 40px;  
  background-size: 50% 50%;  
  padding-left: 20px;  
}  
.dwsc:last-child .dw-sel {  
  background-image: url(../img/time.png);  
}  
.dw-bf {  
  position: relative;  
}  
.mbsc-w-p {  
  width: 150px;  
}  
.dw-i {  
  width: 80px;  
  font-size: 0.3rem;  
}  
.dw-li {  
  padding-left: 20px;  
}  
.mbsc-mobiscroll .dwwol {  
  border-color: #b7ebfe;  
  width: 80px;  
  margin-left: 23px;  
}  
.dw-sel .dw-i,  
.mbsc-mobiscroll .dwl {  
  font-size: 0.3rem;  
}  
.mbsc-mobiscroll .dwl {  
  font-size: 0.22rem;  
  width: 1.6rem;  
  margin-left: 0.4rem;  
}  
.android-ics .dw .dwwol{
    width: 88% !important;
    left: 8% !important;
    height: 46px !important;
    margin-top: -24px !important;
    display: block;
}
.android-ics .dw .dwb{
	font-size: 50px !important;
	line-height: 80px !important;
	height: 80px !important;
}
.android-ics.light .dwbc{
	height: 80px;
}